body {
    background: url(../ResourcesIm/gato.jpg) center center no-repeat fixed;
    opacity: 0.8;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.principal {
    margin-left: 25%;
    height: 250px;
    font-weight: bold;  
    border-radius: 5px;  
    color: black;
    float: left;
    margin-bottom: 45px;
    margin-top: 5px;
    font-size: 14pt;
    border-color: #cf9bcc!important;
    
}
.principalForm {
    height: 500px;
    width: 250px;   
    font-weight: bold;    
    color: black;
    float: left;
    margin-bottom: 45px;
    margin-left: 300px;
    
    
    
}
.principalEC {
    height: 60px;
    font-weight: bold;  
    color: black;
    float: left;
    margin-bottom: 45px;
    margin-left: 6px;
    width: -15px !important;
}

#btn_enviarFormularioDeDuvidas{
    width: 150px;
    
    
}
#tudo{      
    
    background-color: rgb(226, 226, 226)!important;
    opacity: 0.8;  
    
}
.cadastro {
    color: darkblue;
    text-align: center;
    padding-bottom: 20px;
}
#anexoEC{
    font-weight: bold;  
    border-radius: 5px;  
    color: black;
    float: left;
    width: 100%;     
    cursor: pointer;

}
.tituloEC{
    margin-left: 350px;
    margin-top: 7px;
    color: darkblue;
    font-size: 10pt;  
    font-size: 12pt;
}
label{
    color: darkblue;
    font-size: 12pt;
}

.enviarCurriculo{
    width: 300px !important;
}

#btn_enviarEC{
    margin-top: 20px;
    margin-left: 100px; 
    color: darkblue !important;
    background-color: #cf9bcc !important;
}

#borda{
    border: 3px;
}

